# SQL DATA ANALYSIS TASK

# Context
Fenix is a company that is in renewable energy. To this end, it sells solar kits to populations who are in need. Customers have the option of paying for the kit in cash or on credit. If the customer chooses to buy on credit, he can choose between one year (360 days) or two years (720). He is then asked to pay an amount per day (daily_rate), this amount depending on the duration of the loan and the type of kit he has chosen and corresponds to a day of light. So every time he pays that amount, he has a day of light. After 24 hours the system hangs and it has to make another payment to take advantage of the light. He can decide to pay for more than one day of light. The day number is then the whole part of the amount / daily rate ratio. After this number of days, the system still locks. When a customer spends more than 30 days without light, he is considered inactive. Paid vs Expected (PvE) means the ratio between the total amount paid by the client and the amount he should have paid up to date. It allows to appreciate the recovery.

Let's consider the following tables

Loan_current_daitails

loan_id	|customer_id|daily_rate|days_elapsed|Days_til_lock_out|Total_paid
--------|-----------|----------|------------|-----------------|----------
loan_id_1|customer_id_1|daily_rate_1|days_elapsed_1|Days_til_lock_out_1|Total_paid_1
loan_id_2|customer_id_2|daily_rate_2|days_elapsed_2|Days_til_lock_out_2|Total_paid_2
.........|.............|............|..............|...................|............
loan_id_n|customer_id_n	|daily_rate_n|days_elapsed_n|Days_til_lock_out_n|Total_paid_n


Person_democraphic

customer_id	|country|	region|	profession
------------|-------|---------|-----------
customer_id_1|	Country_1	|Region_1	|profession_1
.............|	............|..........	|............
customer_id_j|	Country_j|	Region_j	|profession_j


Sales_details

loan_id	|Product_type	|Date_fullfiled	|loan_duration
--------|----------------|--------------|-------------
loan_id_1	|Product_type_1	|Date_fullfiled_1	|loan_duration_1
...|	...	|...	|...
loan_id_n|	Product_type_n|	Date_fullfiled_n|	loan_duration_n

### Tables description

* **Loan_id:** unique loan identifier

* **Customer_id:** unique customer identifier

* **Days_elapsed:** the number of days the client spends with us

* **Daily_rate:** expected amount from customer per day

* **Days_til_lock_out:** If positive, then corresponds to the number of days of light remaining before the system hangs. If negative, corresponds to the number of days since the system was blocked (the client has been without light since this number of days)

* **Total_paid:** total amount to be paid by the customer

* **Country:** Customer's country

* **Region:** customer department

* **Profession:** client's profession

* **Product_type:** the type of kit purchased by the customer

* **Loan_duration:** the duration of the customer's loan (360 or 720 days)

* **Date_fullfiled:** the date of the sale

### The datasets
The datasets exist in csv formats and can be downloaded and saved on disk

In [2]:
%load_ext sql
%sql sqlite:///challengedb.sqlite

In [126]:
%%sql
DROP TABLE IF EXISTS Loan_current_daitails;
DROP TABLE IF EXISTS Person_democraphic;
DROP TABLE IF EXISTS Sales_details;

 * sqlite:///challengedb.sqlite
Done.
Done.
Done.

[]

In [14]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("challengedb.sqlite")
customers = pd.read_csv('Loan_current_daitails.csv')
orders = pd.read_csv('Person_democraphic.csv')
salesman = pd.read_csv('Sales_details.csv')

customers.to_sql("Loan_current_daitails", conn, index=False, if_exists="replace")
orders.to_sql("Person_democraphic", conn, index=False, if_exists="replace")
salesman.to_sql("Sales_details", conn, index=False, if_exists="replace")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2127: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

### Write a SQL code to determine the total number of loans on the one hand and the total number of customers on the other

In [128]:
%%sql

SELECT COUNT(*) total_num_loans, COUNT(DISTINCT(customer_id)) total_customers
FROM Loan_current_daitails;

 * sqlite:///challengedb.sqlite
Done.

[(5000, 4979)]

### Write a SQL code to determine the total number of loans by type of kit

In [187]:
%%sql

SELECT s.Product_type, COUNT(*) num_of_loans
FROM Loan_current_daitails l
JOIN Sales_details s
ON s.loan_id = l.loan_id
GROUP BY 1;

 * sqlite:///challengedb.sqlite
Done.

[('Fenix 2', 841),
 ('Fenix 3', 974),
 ('Fenix Power 2+ Tondeuse', 18),
 ('Fenix Power 4 + Woofer BJ', 35),
 ('Fenix Power TV 19in FTA BJ', 14),
 ('Fenix Power TV 19in FTA Upgrade, BJ', 28),
 ('Fenix Power TV 24in FTA BJ', 634),
 ('Fenix Power TV 24in FTA Upgrade, BJ', 177),
 ('Fenix Radio +3', 1791),
 ('Fenix Radio +5', 422),
 ('Fenix Woofer +3', 32),
 ('Fenix Woofer +3 (NEW)', 8),
 ('Hors Garantie BJ', 14),
 ('Out-of-warranty swap - SmartLife', 2),
 ('Upgrade Fenix Boost 2 + Tondeuse', 2),
 ('Upgrade Fenix Radio +3', 5),
 ('Upgrade Fenix Woofer +1', 1),
 ('Upgrade Fenix Woofer+2 BJ', 2)]

### Write SQL code to determine the number of inactive loans

In [119]:
%%sql

SELECT COUNT(*) Inactive_loans
FROM Loan_current_daitails
WHERE Days_til_lockout < -30;

 * sqlite:///challengedb.sqlite
Done.

[(626,)]

### Write a SQL code to determine the regions where the total amount of payments exceeds 1,000,000

In [130]:
%%sql

SELECT p.region, SUM(l.Total_paid) total_amount
FROM Loan_current_daitails l, Person_democraphic p
WHERE l.customer_id = p.customer_id
GROUP BY 1
HAVING total_amount > 1000000;

 * sqlite:///challengedb.sqlite
Done.

[('Alibori', 8559985),
 ('Atacora', 7802685),
 ('Atlantique', 51293780),
 ('Borgou', 18947292),
 ('Collines', 11904427),
 ('Couffo', 4812070),
 ('Donga', 9936982),
 ('Littoral', 3980519),
 ('Mono', 11621621),
 ('Oueme', 30027194),
 ('Plateau', 9691206),
 ('Zou', 9540211)]

### Write a SQL code to classify by region and in ascending order, the loans according to the total amount paid

In [131]:
%%sql

SELECT p.region, SUM(l.Total_paid) total_amount_paid, COUNT(*) loans
FROM Loan_current_daitails l, Person_democraphic p
WHERE l.customer_id = p.customer_id
GROUP BY 1
ORDER BY 2;

 * sqlite:///challengedb.sqlite
Done.

[('Littoral', 3980519, 88),
 ('Couffo', 4812070, 163),
 ('Atacora', 7802685, 183),
 ('Alibori', 8559985, 222),
 ('Zou', 9540211, 266),
 ('Plateau', 9691206, 273),
 ('Donga', 9936982, 258),
 ('Mono', 11621621, 385),
 ('Collines', 11904427, 444),
 ('Borgou', 18947292, 466),
 ('Oueme', 30027194, 858),
 ('Atlantique', 51293780, 1394)]


### Write a SQL code to determine the top 10 occupations by region with the highest total amount of payments

In [195]:
%%sql

SELECT  p.region, p.profession, SUM(l.Total_paid) total_paid
        FROM Loan_current_daitails l, Person_democraphic p
        WHERE l.customer_id = p.customer_id
        GROUP BY 1, 2
        ORDER BY 3 DESC;

 * sqlite:///challengedb.sqlite
Done.

[('Atlantique', 'Teacher', 6062410),
 ('Atlantique', 'Security agent', 5587249),
 ('Atlantique', 'Driver', 5457680),
 ('Atlantique', 'Nurse', 5394546),
 ('Atlantique', 'Ingenieur', 5302315),
 ('Atlantique', 'Farmer', 5041556),
 ('Atlantique', 'Doctor', 4916428),
 ('Atlantique', 'Tehnician', 4790191),
 ('Atlantique', 'Cmmercial', 4545867),
 ('Atlantique', 'Statistian', 4195538),
 ('Oueme', 'Statistian', 3602366),
 ('Oueme', 'Nurse', 3495227),
 ('Oueme', 'Driver', 3390452),
 ('Oueme', 'Farmer', 3095904),
 ('Oueme', 'Tehnician', 2948921),
 ('Oueme', 'Security agent', 2903770),
 ('Oueme', 'Teacher', 2775373),
 ('Oueme', 'Doctor', 2752312),
 ('Oueme', 'Ingenieur', 2593939),
 ('Oueme', 'Cmmercial', 2468930),
 ('Borgou', 'Farmer', 2129528),
 ('Borgou', 'Cmmercial', 2047578),
 ('Borgou', 'Teacher', 2044053),
 ('Borgou', 'Ingenieur', 1974122),
 ('Borgou', 'Tehnician', 1955557),
 ('Borgou', 'Nurse', 1850749),
 ('Borgou', 'Doctor', 1848814),
 ('Borgou', 'Driver', 1794261),
 ('Borgou', 'Security agent', 1698221),
 ('Borgou', 'Statistian', 1604409),
 ('Donga', 'Statistian', 1543144),
 ('Collines', 'Security agent', 1473706),
 ('Mono', 'Doctor', 1414462),
 ('Collines', 'Ingenieur', 1403932),
 ('Donga', 'Farmer', 1399928),
 ('Mono', 'Cmmercial', 1395021),
 ('Zou', 'Nurse', 1383380),
 ('Collines', 'Doctor', 1357324),
 ('Mono', 'Tehnician', 1329065),
 ('Mono', 'Ingenieur', 1309617),
 ('Mono', 'Nurse', 1284227),
 ('Collines', 'Cmmercial', 1275385),
 ('Collines', 'Nurse', 1265676),
 ('Collines', 'Teacher', 1251333),
 ('Atacora', 'Nurse', 1240646),
 ('Collines', 'Driver', 1216344),
 ('Plateau', 'Teacher', 1211856),
 ('Plateau', 'Tehnician', 1201553),
 ('Atacora', 'Teacher', 1198674),
 ('Mono', 'Teacher', 1170257),
 ('Mono', 'Statistian', 1157605),
 ('Plateau', 'Cmmercial', 1154984),
 ('Plateau', 'Doctor', 1116182),
 ('Mono', 'Farmer', 1115802),
 ('Donga', 'Cmmercial', 1072366),
 ('Alibori', 'Ingenieur', 1065369),
 ('Zou', 'Security agent', 1063861),
 ('Zou', 'Tehnician', 1052375),
 ('Alibori', 'Teacher', 1025911),
 ('Plateau', 'Ingenieur', 1022293),
 ('Donga', 'Teacher', 1021014),
 ('Zou', 'Farmer', 996862),
 ('Zou', 'Ingenieur', 992969),
 ('Zou', 'Cmmercial', 985052),
 ('Donga', 'Tehnician', 979856),
 ('Alibori', 'Tehnician', 979185),
 ('Alibori', 'Cmmercial', 964132),
 ('Plateau', 'Driver', 962933),
 ('Collines', 'Farmer', 956874),
 ('Alibori', 'Statistian', 953493),
 ('Collines', 'Statistian', 951622),
 ('Donga', 'Doctor', 946459),
 ('Atacora', 'Doctor', 933223),
 ('Plateau', 'Farmer', 924979),
 ('Zou', 'Teacher', 918337),
 ('Alibori', 'Nurse', 903046),
 ('Plateau', 'Nurse', 857280),
 ('Atacora', 'Security agent', 854759),
 ('Atacora', 'Cmmercial', 853389),
 ('Alibori', 'Doctor', 825486),
 ('Donga', 'Security agent', 796610),
 ('Donga', 'Ingenieur', 789253),
 ('Littoral', 'Driver', 784285),
 ('Mono', 'Driver', 780685),
 ('Alibori', 'Driver', 767897),
 ('Atacora', 'Tehnician', 761814),
 ('Couffo', 'Nurse', 753165),
 ('Collines', 'Tehnician', 752231),
 ('Zou', 'Driver', 748987),
 ('Zou', 'Statistian', 736708),
 ('Donga', 'Driver', 720268),
 ('Donga', 'Nurse', 668084),
 ('Mono', 'Security agent', 664880),
 ('Zou', 'Doctor', 661680),
 ('Atacora', 'Statistian', 635455),
 ('Plateau', 'Statistian', 634161),
 ('Couffo', 'Statistian', 605825),
 ('Plateau', 'Security agent', 604985),
 ('Alibori', 'Farmer', 566846),
 ('Littoral', 'Nurse', 536305),
 ('Atacora', 'Ingenieur', 520886),
 ('Couffo', 'Security agent', 513300),
 ('Littoral', 'Ingenieur', 509109),
 ('Alibori', 'Security agent', 508620),
 ('Atacora', 'Farmer', 475102),
 ('Couffo', 'Farmer', 460455),
 ('Couffo', 'Teacher', 429021),
 ('Couffo', 'Cmmercial', 425112),
 ('Couffo', 'Driver', 423635),
 ('Couffo', 'Doctor', 420895),
 ('Couffo', 'Tehnician', 409305),
 ('Littoral', 'Statistian', 378570),
 ('Couffo', 'Ingenieur', 371357),
 ('Littoral', 'Farmer', 343567),
 ('Atacora', 'Driver', 328737),
 ('Littoral', 'Tehnician', 313984),
 ('Littoral', 'Cmmercial', 308914),
 ('Littoral', 'Teacher', 285950),
 ('Littoral', 'Security agent', 267106),
 ('Littoral', 'Doctor', 252729)]

In [ ]:
%%sql

WITH abc AS (
        SELECT  p.region, p.profession, COUNT(p.Profession) count, SUM(l.Total_paid) total_paid
        FROM Loan_current_daitails l, Person_democraphic p
        WHERE l.customer_id = p.customer_id
        GROUP BY 1, 2
        ORDER BY 4
        ),
  bde AS (
        SELECT *, ROW_NUMBER () OVER(PARTITION BY region ORDER BY total_paid desc) rank 
        FROM abc
        )
SELECT region, profession, total_paid
FROM bde
WHERE rank = 1
ORDER BY total_paid desc